/*================ 全体 ================*/
body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  background-color: #FAF8FD;
}
@media (max-width: 550px) {
  body {
    font-size: 12px;
  }
}

.main-area {
  display: flex;
  justify-content: center;
}

main {
  margin-top: 10px;
  max-width: 1000px;
  padding: 5px;
}

footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-size: 100%;
  background-color: #E6DCE4;
  color: #555;
}


/*================ フィルタ部分 ================*/
form {
  margin-bottom: 16px;
  border-radius: 6px;
}

.label-name {
  display: block;
  margin: 15px 0px 10px;
  background-color: #E6DCE4;
  border-radius: 4px;
  color: #6b5966;
  font-weight: bold;
  padding: 0px 10px;
}

/*-------------- テキスト検索 --------------*/
.text-filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.text-filter label {
  width: calc((100% - 20px) / 3);
}
@media (max-width: 600px) {
  .text-filter label {
  width: calc((100% - 10px) / 2);
  }
}
input[type="input"] {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #6b5966;
  padding: 2px;
  width: 100%;
  font-size: 90%;
}

/*-------------- ラジオボタン -------------*/
.radio-filter {
  align-items: center;
  flex-wrap: wrap;
  margin: 6px 0;
}

#filterAccessOptions,
#filterTypeOptions {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 2px 8px;
  border: 2px double #ccc;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0px 0px 8px 0px #E6DCE4;
  font-size: 90%;
}

input[type="radio"]:hover + label {
  border: 2px double #6b5966;
}

input[type="radio"]:checked + label {
  border: 2px double #FAF8FD;
  box-shadow: none;
  background-color: #D6CCD4;
}

.reset-area {
  display: flex;
  justify-content: flex-end;
}
#resetButton {
  margin-top: 8px;
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
  font-size: 90%;
  cursor: pointer;
  background-color: #f7f7f7;
  color: #333;
}
#resetButton:hover {
  border: 1px solid #6b5966;
}

/*================ 表部分 ================*/
table {
  border-collapse: collapse;
  width: 100%;
}
@media (max-width: 550px) {
  table {
    font-size: 80%;
  }
}

th,
td {
  border: 1px solid #aa9fa7;
  padding: 4px;
  vertical-align: middle;
  min-width: 70px;
  font-size: 90%;
}

th {
  background-color: #6b5966;
  color: #fff;
}

td {
  white-space: pre-line;
}

tr:nth-child(even) td {
  background: #E6DCE4;
}

/*-------------- ラベル -------------*/
.table-span {
  display: inline-block;
  padding: 0px 6px;
  border-radius: 4px;
  margin-bottom: 2px;
  font-size: 90%;
  color: #fff;
}

.shiny {
  background-color: #eee6b1;
  color: #8f871e;
  border: 1px solid #8f871e;
}
.fish {
  background-color: #b9ddf5;
  color: #18799c;
  border: 1px solid #18799c;
}
.fear {
  background-color: #f5d8d8;
  color: #c04040;
  border: 1px solid #c04040;
}
.boss {
  background-color: #eed8f5;
  color: #9436b1;
  border: 1px solid #9436b1;
}
.past {
  background-color: #dd9047;
}
.future {
  background-color: #12a1c4;
}
.present {
  background-color: #54aa47;
}
.rift {
  background-color: #6176ca;
}
.hollow {
  background-color: #a467a1;
}
